:root {
    --bgColor: #264248;
    --borOne: #4FA3A5;
    --borTwo: #FDAE38;
}



@keyframes load {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
        
    }
}

@keyframes load1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
        
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bgColor);
}


.loader {
    display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.loader_Up {
    width: 220px;
	height: 220px;
	border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--bgColor);
    border-top-style: unset;
    border-right-color: var(--borTwo);
    border-right-style: double;
    animation: load 1.1s linear infinite;
}

.loader_Down {
    position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
    border: 10px solid var(--bgColor);
    border-top-color: var(--borOne);
    border-top-style: double;
    border-right-style: unset;
    animation: load1 1.1s linear infinite;


}